@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root
{
    --text: #ffffff;
    --background: #000000;
    --primary: #47008a;
    --secondary: #ffffff;
    --accent: #47008a;
}

body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('backgroundGame.png') no-repeat fixed center center;
    background-size: 100% 100%;
}

canvas
{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    display: block; /* Entfernt den zusätzlichen Abstand unter dem Canvas-Element */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Fügt einen leichten Schatten hinzu */
}
