<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../controls.css">
        <link rel="icon" type="image/png" href="../logo.png">
        <title>Steuerung</title>
    </head>
    <body>
        <div class="controls-container">
            <h1>Steuerung</h1>
            <div class="controls">
                <div class="control-item"><span class="key">W</span> <span class="key">&uarr;</span>Bewegung nach oben</div>
                <div class="control-item"><span class="key">S</span> <span class="key">&darr;</span>Bewegung nach unten</div>
                <div class="control-item"><span class="key">A</span> <span class="key">&larr;</span>Bewegung nach links</div>
                <div class="control-item"><span class="key">D</span> <span class="key">&rarr;</span>Bewegung nach rechts</div>
                <div class="control-item"><span class="key">Leertaste</span> <span class="key">·</span>Schießen</div>
                <div class="control-item"><span class="key">ESC</span> <span class="key">END</span>Beenden</div>
            </div>
            <button class="controls-button" onclick="location.href='settings'">Zurück</button>
        </div>
    </body>
</html>