<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../static/contributorsSources">
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
        <title>Mitwirkende und Quellen</title>
    </head>
        <div class="container">
            <h1>Mitwirkende</h1>
                <p>Eren Kirmaci (2741981)</p>
                <p>Finn Welker (2735478)</p>
                <p>Tom-Fabian Leichsenring (2747149)</p>
            <h1>Quellen</h1>
                <p>Hintergrundbild 1: https://pixabay.com/illustrations/sky-space-galaxy-cosmos-1697359/</p>
                <p>Hintergrundbild 2: https://pixabay.com/photos/space-nasa-purple-2901400/</p>
                <p>Hintergrundbild 3: https://pixabay.com/illustrations/galaxy-planet-space-stars-universe-8799299/</p>
                <p>Hintergrundbild 4: https://pixabay.com/photos/stars-sky-night-starry-sky-1837306/</p>
                <p>User Icon: https://pixabay.com/vectors/user-avatar-user-icon-account-icon-6380868/</p>
                <p>Layout Style: https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400</p>
            <button class="button" onclick="location.href='settings'">Zurück</button>
        </div>
</html>