<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../static/gameOverOrEnded">
        <link rel="icon" type="image/png" href="../static/logo.png">
        <title>Spiel verloren oder beendet</title>
    </head>
    <body>
        <h1>Erreichter Highscore:</h1>
        <h2 id="highscore" name="score" method="post"></h2>
        <div class="container">
            <form action="retry" method="post" id="highscore-form">
                <label for="username">Name:</label>
                <input type="hidden" id="highscorePost" name="highscore">
                <input type="text" id="username" name="username" placeholder="Benutzername" required>
                <button class="submit-button" type="submit" value="submit-highscore" id="submit-button">Einreichen</button>
            </form>
        </div>
        <script>
            document.getElementById("highscore").innerHTML=sessionStorage.getItem('score');
            document.getElementById("highscorePost").value=sessionStorage.getItem('score');
            sessionStorage.setItem('score', "0");
            if (sessionStorage.getItem('gameState') === 'over') {
                document.querySelector('title').innerText = 'Spiel verloren';
                document.body.style.backgroundImage = "url('../static/backgroundGameOver.png')";
            } else {
                document.querySelector('title').innerText = 'Spiel vorbei';
                document.body.style.backgroundImage = "url('../static/backgroundGameEnded.png')";
            }
        </script>
    </body>
</html>