<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../static/gameOver">
        <title>Spiel verloren</title>
    </head>
    <body>
        <h1>Erreichter Highscore:</h1>
        <h2 id="highscore"></h2>
        <div class="container">
            <form action="retry.mustache" method="post" id="highscore-form">
                <label for="username">Name:</label>
                <input type="text" id="username" name="name" placeholder="Benutzername" required>
                <button class="submit-button" type="submit" value="submit-highscore" id="submit-button">Einreichen</button>
            </form>
        </div>
        <script>
            document.getElementById("highscore").innerHTML=sessionStorage.getItem('key');
        </script>
    </body>
</html>