<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="icon" type="image/png" href="../static/logo.png">
        <title>Startseite</title>
    </head>
    <body>
        <style>
            body
            {
                background-image: url('../static/backgroundLandingPage.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
        <script>
            document.addEventListener('keydown', function()
                {
                    window.location.href = 'mainMenu'
                }
            );
        </script>
    </body>
</html>