<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../leaderboard.css">
        <link rel="icon" type="image/png" href="../logo.png">
        <title>Leaderboard</title>
    </head>
    <body>
        <div class="leaderboard-container">
            <h1>Leaderboard</h1>
            <table>
                <thead>
                <tr>
                    <th>Platz</th>
                    <th>Name</th>
                    <th>Highscore</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="gold">1</td>
                    <td id="username">{{username1}}</td>
                    <td id="highscore">{{highscore1}}</td>
                </tr>
                <tr>
                    <td class="silver">2</td>
                    <td id="username">{{username2}}</td>
                    <td id="highscore">{{highscore2}}</td>
                </tr>
                <tr>
                    <td class="bronze">3</td>
                    <td id="username">{{username3}}</td>
                    <td id="highscore">{{highscore3}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td id="username">{{username4}}</td>
                    <td id="highscore">{{highscore4}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td id="username">{{username5}}</td>
                    <td id="highscore">{{highscore5}}</td>
                </tr>
            </table>
            <button class="leaderboard-button" onclick="goBack()">Zurück</button>
        </div>
        <script>
            function goBack()
            {
                const params = new URLSearchParams(window.location.search);
                const origin = params.get('origin');
                if (origin === 'retry') {
                    location.href = 'retry';
                }
                else
                {
                    location.href = 'mainMenu';
                }
            }
        </script>
    </body>
</html>