<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../mainMenu.css">
        <link rel="icon" type="image/png" href="../logo.png">
        <title>Hauptmenü</title>
    </head>
    <body>
        <h1>Willkommen zu Space Shooters!</h1>
        <div class="menu">
            <button class="menu-button" onclick="location.href='game'">Spielen</button>
            <button class="menu-button" onclick="location.href='/'">Beenden</button>
            <button class="menu-button" onclick="location.href='settings'">Einstellungen</button>
            <button class="menu-button" onclick="location.href='leaderboard'">Leaderboard</button>
        </div>
    </body>
</html>