<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../static/mainMenu">
        <script src="http://localhost:35729/livereload.js" rel="preload" async></script>
        <title>Hauptmenü</title>
    </head>
    <body>
        <h1 style="color: White; font-size:50px">Willkommen {{username}}!</h1>
        <div class="menu">
            <button class="menu-button" onclick="location.href='game'">Spielen</button>
            <button class="menu-button" onclick="location.href='mainMenu'">Abmelden</button>
            <button class="menu-button" onclick="location.href='settings'">Einstellungen</button>
            <button class="menu-button" onclick="location.href='profile'">Profil</button>
        </div>
    </body>
</html>