<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../retry.css">
        <link rel="icon" type="image/png" href="../logo.png">
        <title>Erneut Versuchen</title>
    </head>
    <body>
        <div>
            <button class="retry-button" onclick="location.href='game'">Neustarten</button>
            <button class="retry-button" onclick="location.href='mainMenu'">Hauptmenü</button>
        </div>
        <div>
            <button class="leaderboard-button" onclick="location.href='leaderboard?origin=retry'">Leaderboard</button>
        </div>
        <script>
            document.addEventListener('keydown', function(key)
                {
                    if (key.key === "Enter")
                    {
                        window.location.href = 'game';
                    }
                    else if (key.keyCode === 27)
                    {
                        window.location.href = 'mainMenu';
                    }
                    else if (key.key === "Space");
                    {
                        window.location.href = 'leaderboard';
                    }
                }
            );
        </script>
    </body>
</html>