<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../settings.css">
        <link rel="icon" type="image/png" href="../logo.png">
        <title>Einstellungen</title>
    </head>
    <body>
        <div class="settings-container">
            <h1>Einstellungen</h1>
            <div class="settings">
                <button class="settings-button" onclick="location.href='controls'">Steuerung</button>
                <button class="settings-button" onclick="location.href='contributorsAndSources'">Mitwirkende</button>
                <br>
                <button class="back-button" onclick="location.href='mainMenu'">Zurück zum Hauptmenü</button>
            </div>
        </div>
    </body>
</html>