<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <link rel="stylesheet" href="../static/settings">
        <title>Einstellungen</title>
    </head>
    <body>
        <div class="container">
            <h1>Einstellungen</h1>
            <div class="button">
                <button class="button" onclick="location.href='help'">Hilfe</button>
                <button class="button" onclick="location.href='contributorsSources'">Mitwirkende</button>
                <br>
                <button class="back-button" onclick="location.href='mainMenu'">Zurück zum Hauptmenü</button>
            </div>
        </div>
    </body>
</html>